@-webkit-keyframes movieSliderToLeft {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-4200px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes movieSliderToLeft {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-4200px);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes movieSliderToRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(500%);
  }
}
@keyframes movieSliderToRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(500%);
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 0.1rem;
  line-height: 4rem;
}

body {
  height: auto;
  transition: ease-in-out 0.5s;
  background-color: rgb(139, 139, 139);
}

.mt-10 {
  margin-top: 25px;
}

.btn {
  position: relative;
  top: 30px;
  padding: 18px 30px;
  border-radius: 24px;
  background-color: #3e67a5;
  text-decoration: none;
  color: #ffffff;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.trev-color {
  color: #c5c5c5;
}

.text-center {
  text-align: center;
  width: 100%;
}

.grid {
  display: grid;
  flex-wrap: wrap;
}

.flex {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  row-gap: 48px;
}

.ligbol {
  font-size: 600;
}

.bold {
  font-weight: 900;
}

.align-start {
  align-self: start;
}

.justfy-start {
  justify-self: start;
}

.justfy-end {
  justify-self: end;
}

.grid-row {
  grid-row: 2/span 3;
}

.title {
  font-size: 48px;
  color: #ffffff;
  width: 100%;
  max-width: 1100px;
  margin: 24px auto;
}

.container {
  max-width: 1400px;
  text-align: center;
  margin: 0 auto;
  height: 200px;
}
.container .searchForm .searchInput {
  color: rgb(212, 160, 45);
  font-size: 1.5rem;
  width: 80%;
  height: 1rem;
  border: none;
  background-color: rgb(46, 46, 46);
  border-radius: 2rem;
  padding: 1.7rem;
  outline: none;
  box-shadow: rgb(0, 0, 0) 1px 1px;
}

.movies::after {
  content: "";
  position: absolute;
  height: 3px;
  right: 0;
  left: 0;
  background-color: orange;
  margin-top: 96px;
}

.movie {
  line-height: 0;
  height: auto;
}

.movie-card {
  height: auto;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 96px;
       column-gap: 96px;
  row-gap: 48px;
}
.movie-card img {
  width: 300px;
  height: 450px;
  line-height: 0;
  border-radius: 24px 24px 0 0;
}
.movie-card .movie-infos {
  width: 300px;
  position: relative;
  top: -20px;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  height: auto;
  min-height: 150px;
  border-radius: 0 0 24px 24px;
  background-color: rgb(235, 156, 156);
  padding: 0 1rem;
}
.movie-card .movie-infos * {
  width: 100%;
  line-height: 2rem;
}
.movie-card .movie-infos .movie-title {
  color: rgb(243, 218, 164);
}

.main-movie-card {
  height: auto;
  width: 1100px;
  grid-template-columns: repeat(5, 1fr);
  -moz-column-gap: 32px;
       column-gap: 32px;
  row-gap: 48px;
}
.main-movie-card img {
  width: 100%;
  height: 275px;
  line-height: 0;
  border-radius: 24px 24px 0 0;
}
.main-movie-card .main-movie-infos {
  width: 100%;
  font-size: 15px;
  min-height: 125px;
  justify-items: center;
  row-gap: 3px;
  border-radius: 0 0 24px 24px;
  background-color: rgb(58, 57, 57);
  padding: 0 1rem;
}
.main-movie-card .main-movie-infos * {
  width: 100%;
  line-height: 1rem;
}
.main-movie-card .main-movie-infos .movie-title {
  color: rgb(243, 218, 164);
}

.main {
  width: 100%;
  margin-bottom: 96px;
  height: auto;
}
.main .sliderTitle {
  height: 100px;
  margin: 8rem;
  font-size: 2rem;
  background: linear-gradient(to top right, #50ff2d 0%, #1e98e9 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.main::after {
  content: "";
  position: absolute;
  height: 50px;
  right: 0;
  left: 0;
  background: linear-gradient(to top right, #50ff2d 0%, #1e98e9 100%);
}

.slider {
  max-width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}
.slider * {
  line-height: 0 !important;
}
.slider .grid {
  grid-template-columns: repeat(20, auto);
}
.slider .sliderItems {
  -webkit-animation: movieSliderToLeft 60s linear infinite;
          animation: movieSliderToLeft 60s linear infinite;
}
.slider .sliderItems .sliderItem {
  width: 300px;
  height: auto;
}
.slider .sliderItems .sliderItem img {
  width: 100%;
  height: 500px;
}

.tv-series {
  margin-top: 125px;
}

nav {
  background: linear-gradient(to top right, #50ff2d 0%, #1e98e9 100%);
}
nav .container {
  height: auto;
}

.categories .grid {
  grid-template-columns: repeat(3, 1fr);
}
.categories .grid .btn {
  top: 0;
  padding: 12px;
  line-height: 18px;
}

.changer {
  position: absolute;
  top: 6px;
  background-color: rgb(151, 151, 151);
  box-shadow: inset 0 0 20px black;
  width: 108px;
  height: 54px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 2rem;
}
.changer .light {
  position: absolute;
  left: 18px;
}
.changer .ball {
  width: 42px;
  height: 42px;
  margin: 3px 0;
  position: absolute;
  left: 6px;
  border-radius: 50%;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.5s;
  z-index: 10;
}
.changer .dark {
  position: absolute;
  right: 18px;
}

.left {
  transform: translateX(48px);
}/*# sourceMappingURL=app.css.map */