$warning-color: rgb(212, 160, 45);
$nico-color: #333;
$white-color: #ffffff;
$trev-color: #c5c5c5;
$movie-name-color: rgb(243, 218, 164);

@keyframes movieSliderToLeft {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-4200px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes movieSliderToRight {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(500%);
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 0.1rem;
  line-height: 4rem;
}

body {
  background: linear-gradient(90deg, #0f0c29 0%, #302b63 50%, #24243e 100%);
}

.trev-color {
  color: $trev-color;
}

.text-center {
  text-align: center;
}

.grid {
  display: grid;
  flex-wrap: wrap;
}

.flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.ligbol {
  font-size: 600;
}

.bold {
  font-weight: 900;
}

.align-start {
  align-self: start;
}

.justfy-start {
  justify-self: start;
}

.justfy-end {
  justify-self: end;
}

.grid-row {
  grid-row: 2 / span 3;
}

.container {
  max-width: 1400px;
  text-align: center;
  margin: 0 auto;
  height: 200px;
  .searchForm {
    .searchInput {
      color: $warning-color;
      font-size: 1.5rem;
      width: 80%;
      height: 1rem;
      border: none;
      background-color: rgb(46, 46, 46);
      border-radius: 2rem;
      padding: 1.7rem;
      outline: none;
      box-shadow: rgb(0, 0, 0) 1px 1px;
    }
  }
}

.movie {
  line-height: 0;
}

.movie-card {
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 96px;
  row-gap: 48px;
  img {
    width: 300px;
    height: 450px;
    line-height: 0;
    border-radius: 24px 24px 0 0;
  }
  .movie-infos {
    width: 300px;
    position: relative;
    top: -20px;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    height: auto;
    min-height: 150px;
    border-radius: 0 0 24px 24px;
    background-color: rgb(58, 57, 57);
    padding: 0 1rem;
    * {
      line-height: 2rem;
    }
    .movie-title {
      color: $movie-name-color;
    }
  }
}

.main {
  width: 100%;
  .sliderTitle {
    margin: 3rem;
    font-size: 2rem;
    color: white;
  }
}

.slider {
  max-width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  .grid {
    grid-template-columns: repeat(20, auto);
  }
  .sliderItems {
    animation: movieSliderToLeft 60s linear infinite;
    .sliderItem {
      width: 300px;
      height: auto;
      img {
        width: 100%;
        height: 500px;
      }
      &:hover {
        transform: scale(2, 2);
        transition: all 1s;
      }
    }
  }
}
